.video{
    background: rgba(2, 9, 40, 0.7);
    padding-top: 112px;
    padding-bottom: 112px;

    @include tablet {
        padding-top: 65px;
        padding-bottom: 65px;
    }

    @include mobile {
        padding-top: 60px;
        padding-bottom: 50px;
    }
    &__title{
        color: #FFFFFF;
    }
    &__inner{
        margin-top: 50px;
        position: relative;

        @include tablet {
            margin-top: 40px;
        }

        @include mobile {
            margin-top: 30px;
        }
    }
    &__wrapper{
        width: 100%;

        @include mobile {
            height: 350px;
        }
    }

    &-container {
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: #000000;

        @include mobile {
            max-height: 290px;
        }

        img {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            object-fit: cover;
        }
    }
    &__item{
        width: 30.38%;
        height: 317px;

        @include tablet {
            width: 50%;
            height: 316px;
        }

        @include mobile{
            height: 300px;
        }

        &-wrap {
            margin-top: auto;
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            width: 100%;
            z-index: 1;
            min-height: 108px;
            display: flex;
            background: rgba(2, 9, 40, 0.5);
        }

        &-video {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            >iframe{
                width: 100%;
                height: 100%;
            }
        }

        &-info {
            width: 100%;
            color: #ffffff;
            padding: 30px;
        }

        &-name {
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
        }

        &-text {
            font-size: 16px;
            line-height: 17px;
            margin-top: 8px;
        }
    }

    &__button {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 50px;
        height: 50px;
        transform: translate(-50%, -50%);
        z-index: 1;
        background-color: #C4C4C4;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 4px;
        cursor: pointer;
        transition: 0.3s;

        @media (min-width: 1000px) {
            &:hover {
                background-color: #DD0060;
            }
        }

        img {
            position: static;
            width: 17px;
            height: 20px;
        }
    }
    &__big{
        width: 39.24%;
        height: 634px;

        @include tablet{
            max-width: none;
            width: 100%;
            height: 340px;
        }
        >iframe{
            width: 100%;
            height: 100%;
        }
    }
    &__slider{
        display: none;
        margin-top: 30px;
        >div.slick-list{
            height: 340px !important;
        }
        @include mobile{
            display: block;
        }

    }
    &-slider{
        &__prev{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 30px;
            height: 30px;
            z-index: 1;
            background: #E5E5E5;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: rotate(90deg);
            display: none;

            @include mobile {
                display: flex;
            }

        }
        &__next{
            position: absolute;
            bottom: 0;
            right: 0;
            width: 30px;
            height: 30px;
            z-index: 1;
            background: #E5E5E5;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: rotate(-90deg);
            display: none;

            @include mobile {
                display: flex;
            }
        }
        &__pagination{
            list-style: none;
            position: absolute;
            bottom: 5px;
            left: 50%;
            transform: translateX(-50%);
            >li{
                font-size: 16px;
                line-height: 19px;
                text-align: center;

                color: #FFFFFF;
                &:not(:first-child){
                    display: none;
                }
            }
        }
        &__dot{
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            color: #DD0060;
        }
    }
}