extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	section.hero 
		include components/hero
	section.message
		include components/message
	section.advantage
		include components/advantage
	section.video
		include components/video
	section.works
		include components/works
	//- section.price
	//- 	include components/price
	section.other
		include components/other
	section.systems
		include components/systems
	section.partners
		include components/partners
	section.info
		include components/info
	.order-popup 
		include components/popup