header.header
	.container-wide
		div.header__inner 
			a.header__logo-link(href="") 
				img.header__logo.logo(src="img/logo.svg", alt="REHAU")
			.header-wrapper
				nav.header-nav
					ul.header-nav__list
						li.header-nav__item
							a(href="#") Посетителям
						li.header-nav__item
							a(href="#") Преимущества
						li.header-nav__item
							a(href="#") Видео
						li.header-nav__item
							a(href="#") Фото
						li.header-nav__item
							a(href="#") Услуги
						li.header-nav__item
							a(href="#") Системы
						li.header-nav__item
							a(href="#") Контакты
				div.header__contacts
					div.header__contacts-item 
						span.header__contacts-title
							| Адрес офиса:
						//- img(src="img/contacts/pin.svg", alt="") 
						span.header__contacts-text
							| г. Москва, ул. Профсоюзная, дом 93А, офис 25
					.header__contacts-item
						span.header__contacts-title
							| Контактный телефон:
						//- img(src="img/contacts/phone.svg", alt="") 
						a(href="tel:+79859285582").header-link.header__contacts-text
							| +7 985 928 55-82
			.sh-burger
				span