header.header
	.container
		div.header__inner 
			a.header__logo-link(href="") 
				img.header__logo.logo(src="img/logo.svg", alt="REHAU")
			.header-wrapper
				nav.header-nav
					ul.header-nav__list
						li.header-nav__item
							a(href="#") Услуги
						li.header-nav__item
							a(href="#") Наши работы
						li.header-nav__item
							a(href="#") Стоимость работ
						li.header-nav__item
							a(href="#") Контакты
						li.header-nav__item
							a(href="#") Оставить заявку
				div.header__contacts
					div.header__contacts-item 
						img(src="img/contacts/pin.svg", alt="") 
						| г. Москва, ул. Народная 8, оф. 33
					div.header__contacts-item 
						img(src="img/contacts/clock.svg", alt="") 
						| Пн-Вс: 9:00 - 21:00
					a.header__contacts-item(href="tel:+74957698628") 
						img(src="img/contacts/phone.svg", alt="") 
						| +7(495) 769-86-28
			.sh-burger
				span