.footer {
  padding-top: 72px;
  padding-bottom: 72px;

  @include tablet {
    padding-bottom: 32px;
  }

  @include mobile {
    padding: 50px 0 10px;
  }
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media-1300 {
      flex-wrap: wrap;
      justify-content: space-between;
    }

    @include tablet {
      flex-direction: column;
    }
  }

  &-nav {
    margin-left: 0;
    margin-right: auto;

    @include media-1300 {
      flex-basis: 100%;
      order: 1;
      margin-right: 0;
    }

    &__list {
      display: flex;
      align-items: center;
      list-style: none;
      padding: 0;
      margin: 0;

      @include media-1300 {
        justify-content: space-between;
      }

      @include mobile {
        flex-direction: column;
        align-items: center;
      }
    }

    &__item {
      font-size: 16px;
      line-height: 17px;
      position: relative;
      transition: 0.4s;

      &::before {
        content: "";
        position: absolute;
        bottom: -12px;
        left: 0;
        height: 1px;
        background: $secondary;
        width: 0;
        transition: 0.4s;
      }

      &:hover {
        color: $secondary;

        &::before {
          width: 80%;
        }
      }

      &:not(:last-child) {
        margin-right: 25px;

        @include mobile {
          margin-right: 0;
        }
      }

      &:not(:first-child) {
        @include mobile {
          margin-top: 20px;
        }
      }

      a {
        text-decoration: none;
        color: inherit;

        &:visited {
          color: inherit;
        }
      }
    }
  }

  &__info {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 20px;

    @include media-1300 {
      flex-basis: 80%;
      margin-left: 0;
      justify-content: space-between;
    }

    &-copywriting {
      text-align: center;
    }

    &-link {
      font-size: 14px;
      line-height: 17px;
      color: #1c1c1c;
      > a {
        color: #525251;
      }

      @include mobile {
        margin-top: 15px;
      }
    }

    @include media-1300 {
      margin-top: 30px;
      order: 3;
    }

    @include mobile {
      flex-direction: column;
      margin-top: 15px;
    }
  }

  &__logo {
    width: 245px;
    margin-bottom: 8px;
    &-link {
      flex-shrink: 0;
      // margin-right: 55px;

      @include media-1300 {
        margin-top: 30px;
        // margin-right: 10px;
        order: 2;
        flex-basis: 16%;
        flex-shrink: 1;
      }

      @include mobile {
        margin-top: 25px;
      }
    }
  }

  &-group {
    display: flex;
    flex-direction: column;
    font-family: $secondFont;
    font-size: 15px;
    line-height: 18px;
    color: $black;

    @include tablet {
      margin-bottom: 40px;
    }

    &--left {
      align-items: flex-start;
      color: #404040;

      @include tablet {
        align-items: center;
      }
    }

    &--mid {
      align-items: center;

      @include tablet {
        order: -1;
      }
    }

    &--right {
      align-items: flex-end;

      @include tablet {
        align-items: center;
      }
    }
  }

  &-link {
    text-decoration: underline;

    &__privacy {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  &__socials {
    margin-bottom: 40px;
  }
}
