.container 
    .advantage__inner 
        h2.advantage__title.title Наши преимущества
        .advantage__items
            .advantage__item
                .advantage__item-wrap 
                    img.advantage__item-img(src="img/advantage/i-1.svg", alt="")
                    span.advantage__item-title Работа без предоплаты
                p.advantage__item-text
            .advantage__item 
                .advantage__item-wrap 
                    img.advantage__item-img(src="img/advantage/i-2.svg", alt="")
                    span.advantage__item-title Гарантия на работы 24 месяца
                p.advantage__item-text
            .advantage__item 
                .advantage__item-wrap 
                    img.advantage__item-img(src="img/advantage/i-3.svg", alt="")
                    span.advantage__item-title Соблюдение сроков
                p.advantage__item-text
            .advantage__item 
                .advantage__item-wrap 
                    img.advantage__item-img(src="img/advantage/i-4.svg", alt="")
                    span.advantage__item-title Контроль качества работ
                p.advantage__item-text
            .advantage__item 
                .advantage__item-wrap 
                    img.advantage__item-img(src="img/advantage/i-5.svg", alt="")
                    span.advantage__item-title Фиксированная стоимость
                p.advantage__item-text       
            .advantage__item 
                .advantage__item-wrap 
                    img.advantage__item-img(src="img/advantage/i-6.svg", alt="")
                    span.advantage__item-title Работа по договору
                p.advantage__item-text                                           