.container 
    .advantage__inner 
        h2.advantage__title.title Наши преимущества
        .advantage__items
            .advantage__item
                .advantage__item-wrap 
                    img.advantage__item-img(src="img/advantage/like.svg", alt="")
                    span.advantage__item-title 3 года гарантии на все работы
                p.advantage__item-text Не следует, однако забывать, что рамки и место обучения кадров способствует подготовки и реализации соответствующий условий активизации.
            .advantage__item 
                .advantage__item-wrap 
                    img.advantage__item-img(src="img/advantage/certificate.svg", alt="")
                    span.advantage__item-title 3 года гарантии на все работы
                p.advantage__item-text Не следует, однако забывать, что рамки и место обучения кадров способствует подготовки и реализации соответствующий условий активизации.
            .advantage__item 
                .advantage__item-wrap 
                    img.advantage__item-img(src="img/advantage/money.svg", alt="")
                    span.advantage__item-title 3 года гарантии на все работы
                p.advantage__item-text Не следует, однако забывать, что рамки и место обучения кадров способствует подготовки и реализации соответствующий условий активизации.
            .advantage__item 
                .advantage__item-wrap 
                    img.advantage__item-img(src="img/advantage/money2.svg", alt="")
                    span.advantage__item-title 3 года гарантии на все работы
                p.advantage__item-text Не следует, однако забывать, что рамки и место обучения кадров способствует подготовки и реализации соответствующий условий активизации.