.container 
    h2.message__title.title ВИДЕООБРАЩЕНИЕ

    .message-video
      img.message-video__item-img(src="img/message/message.jpg", alt="")
      .message-video__item-video(data-embed="G1DsbIwXOb0")
      button.message-video__button
          img(src="img/video/play.svg", alt="")