.container 
    h2.other__title.title Другие наши услуги
    .other__inner 
        .other__item 
            h3.other__item-name Монтаж теплого пола REHAU
            img.other__item-img(src="img/other/1.jpg", alt="")
            .other__item-info-wrapper
                h3.other__item-name.other__item-name--tablet Монтаж теплого пола REHAU
                ul.other__item-list.other__list
                    li.other__list-item 
                        span новая модель организационной деятельности позволяет выполнять важные задания поразработке системы обучения кадров,  соответствуетнасущным потребностям.
                    li.other__list-item 
                        span интересный эксперимент проверк новых предложений
                    li.other__list-item 
                        span дальнейшее развитие различных форм 
                .other__item-info 
                    span.other__item-price от 900 ₽/час
                    a.other__item-btn.btn(data-popup="order" href="#") 
                        span.btn__content.other__item-btn-content 
                            span Заказать
                            img(src="img/btn-arrow.svg", alt="")
        .other__item 
            h3.other__item-name Монтаж теплого пола REHAU
            img.other__item-img(src="img/other/1.jpg", alt="")
            .other__item-info-wrapper
                h3.other__item-name.other__item-name--tablet Монтаж теплого пола REHAU
                ul.other__item-list.other__list
                    li.other__list-item 
                        span новая модель организационной деятельности позволяет выполнять важные задания поразработке системы обучения кадров,  соответствуетнасущным потребностям.
                    li.other__list-item 
                        span интересный эксперимент проверк новых предложений
                    li.other__list-item 
                        span дальнейшее развитие различных форм 
                .other__item-info
                    span.other__item-price от 900 ₽/час
                    a.other__item-btn.btn(data-popup="order" href="#") 
                        span.btn__content.other__item-btn-content
                            span Заказать
                            img(src="img/btn-arrow.svg", alt="")
        .other__item 
            h3.other__item-name Монтаж теплого пола REHAU
            img.other__item-img(src="img/other/1.jpg", alt="")
            .other__item-info-wrapper
                h3.other__item-name.other__item-name--tablet Монтаж теплого пола REHAU
                ul.other__item-list.other__list
                    li.other__list-item 
                        span новая модель организационной деятельности позволяет выполнять важные задания поразработке системы обучения кадров,  соответствуетнасущным потребностям.
                    li.other__list-item
                        span интересный эксперимент проверк новых предложений
                    li.other__list-item 
                        span дальнейшее развитие различных форм 
                    li.other__list-item 
                        span новая модель организационной деятельности позволяет выполнять важные задания поразработке системы обучения кадров,  соответствуетнасущным потребностям. 
                .other__item-info 
                    span.other__item-price от 900 ₽/час
                    a.other__item-btn.btn(data-popup="order" href="#") 
                        span.btn__content.other__item-btn-content
                            span Заказать
                            img(src="img/btn-arrow.svg", alt="")