.container
    .other__heading
        h2.other__title.title услуги

        .other__heading-buttons
            button.other-button.other__prev
                svg(width="13" height="22" viewBox="0 0 13 22" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M12 21L2 11L12 0.999999" stroke="#111111" stroke-width="2" stroke-linecap="round")
            button.other-button.other__next
                svg(width="13" height="22" viewBox="0 0 13 22" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M1 1L11 11L1 21" stroke="#111111" stroke-width="2" stroke-linecap="round")
.container.other-container
    .other__inner 
        .other__item 

            img.other__item-img(src="img/other/1.jpg", alt="")
            .other__item-info-wrapper
                h3.other__item-name.other__item-name--tablet Демонтажные  работы от
                span.other__item-price 55 555 ₽
                ul.other__item-list.other__list
                    li.other__list-item 
                        span Равным образом реализация намеченных плановых заданий требуют от нас анализа систем.
                    li.other__list-item 
                        span Сложившаяся структура организации требуют определения и уточнения направлений развития.
                    li.other__list-item 
                        span Равным образом реализация намеченных плановых заданий играет важную роль в формировании модели развития.
                .other__item-info 
                    a.other__item-btn.btn(data-popup="order" href="#") 
                        span.btn__content.other__item-btn-content 
                            span Заказать
                            img(src="img/btn-arrow.svg", alt="")
        .other__item 

            img.other__item-img(src="img/other/1.jpg", alt="")
            .other__item-info-wrapper
                h3.other__item-name.other__item-name--tablet Простой ремонт от
                span.other__item-price 55 555 ₽
                ul.other__item-list.other__list
                    li.other__list-item 
                        span Равным образом реализация намеченных плановых заданий требуют от нас анализа систем.
                    li.other__list-item 
                        span Сложившаяся структура организации требуют определения и уточнения направлений развития.
                .other__item-info 
                    a.other__item-btn.btn(data-popup="order" href="#") 
                        span.btn__content.other__item-btn-content 
                            span Заказать
                            img(src="img/btn-arrow.svg", alt="")
        .other__item 

            img.other__item-img(src="img/other/1.jpg", alt="")
            .other__item-info-wrapper
                h3.other__item-name.other__item-name--tablet Дизайнерский ремонт от
                span.other__item-price 55 555 ₽
                ul.other__item-list.other__list
                    li.other__list-item 
                        span Равным образом реализация намеченных плановых заданий требуют от нас анализа систем.
                    li.other__list-item 
                        span Сложившаяся структура организации требуют определения и уточнения направлений развития.
                    li.other__list-item 
                        span Равным образом реализация намеченных плановых заданий играет важную роль в формировании модели развития.
                .other__item-info 
                    a.other__item-btn.btn(data-popup="order" href="#") 
                        span.btn__content.other__item-btn-content 
                            span Заказать
                            img(src="img/btn-arrow.svg", alt="")

        .other__item 

            img.other__item-img(src="img/other/1.jpg", alt="")
            .other__item-info-wrapper
                h3.other__item-name.other__item-name--tablet Демонтажные  работы от
                span.other__item-price 55 555 ₽
                ul.other__item-list.other__list
                    li.other__list-item 
                        span Равным образом реализация намеченных плановых заданий требуют от нас анализа систем.
                    li.other__list-item 
                        span Сложившаяся структура организации требуют определения и уточнения направлений развития.
                    li.other__list-item 
                        span Равным образом реализация намеченных плановых заданий играет важную роль в формировании модели развития.
                .other__item-info 
                    a.other__item-btn.btn(data-popup="order" href="#") 
                        span.btn__content.other__item-btn-content 
                            span Заказать
                            img(src="img/btn-arrow.svg", alt="")
        .other__item 

            img.other__item-img(src="img/other/1.jpg", alt="")
            .other__item-info-wrapper
                h3.other__item-name.other__item-name--tablet Простой ремонт от
                span.other__item-price 55 555 ₽
                ul.other__item-list.other__list
                    li.other__list-item 
                        span Равным образом реализация намеченных плановых заданий требуют от нас анализа систем.
                    li.other__list-item 
                        span Сложившаяся структура организации требуют определения и уточнения направлений развития.
                .other__item-info 
                    a.other__item-btn.btn(data-popup="order" href="#") 
                        span.btn__content.other__item-btn-content 
                            span Заказать
                            img(src="img/btn-arrow.svg", alt="")
        .other__item 

            img.other__item-img(src="img/other/1.jpg", alt="")
            .other__item-info-wrapper
                h3.other__item-name.other__item-name--tablet Дизайнерский ремонт от
                span.other__item-price 55 555 ₽
                ul.other__item-list.other__list
                    li.other__list-item 
                        span Равным образом реализация намеченных плановых заданий требуют от нас анализа систем.
                    li.other__list-item 
                        span Сложившаяся структура организации требуют определения и уточнения направлений развития.
                    li.other__list-item 
                        span Равным образом реализация намеченных плановых заданий играет важную роль в формировании модели развития.
                .other__item-info 
                    a.other__item-btn.btn(data-popup="order" href="#") 
                        span.btn__content.other__item-btn-content 
                            span Заказать
                            img(src="img/btn-arrow.svg", alt="")                            