.container
    h2.price__title.title Наши цены
    .price__inner 
        ul.price__list 
            li.price__head
                span.price__head-title Название услуги
                span.price__head-price Стоимость
                    span (за точку)
            li.price__item 
                span.price__item-name Монтаж воздуховода
                span.price__item-price 3 500 ₽
            li.price__item 
                span.price__item-name Монтаж корпуса на профиль
                span.price__item-price 3 500 ₽
            li.price__item 
                span.price__item-name Монтаж воздуховода
                span.price__item-price 3 500 ₽
        ul.price__list 
            li.price__head.price__head--mobile
                span.price__head-title Название услуги
                span.price__head-price Стоимость (за точку)
            li.price__item 
                span.price__item-name Монтаж воздуховода
                span.price__item-price 3 500 ₽
            li.price__item 
                span.price__item-name Монтаж воздуховода
                span.price__item-price 3 500 ₽
            li.price__item
                span.price__item-name Монтаж воздуховода
                span.price__item-price 3 500 ₽
            li.price__item
                span.price__item-name Монтаж воздуховода
                span.price__item-price 3 500 ₽