.container 
  h2.systems__title.title ИНЖЕНЕРНЫЕ СИСТЕМЫ

  .systems-wrapper
    .systems-item
      .systems-item__container.systems-video
        img.systems-video__item-img(src="img/systems/systems-1.jpg", alt="")
        .systems-video__item-video(data-embed="G1DsbIwXOb0")
        button.systems-video__button
            img(src="img/video/play.svg", alt="")
      .systems-item__info
        span.systems-item__title
          | Сантехника

    .systems-item
      .systems-item__container.systems-video
        img.systems-video__item-img(src="img/systems/systems-2.jpg", alt="")
        .systems-video__item-video(data-embed="G1DsbIwXOb0")
        button.systems-video__button
            img(src="img/video/play.svg", alt="")
      .systems-item__info
        span.systems-item__title
          | Электрика        