.container 
    h2.video__title.title Видео
    .video__inner
        button.video-slider__prev
            img(src="img/hero/slider-arrow.svg", alt="")
        .video__wrapper
            .video__big.video-container
                img.video__item-img(src="img/video/big.jpg", alt="")
                .video__item-wrap 
                    .video__item-info 
                        .video__item-name Монтаж водоснабжения
                        .video__item-text г. Москва, Ленинский проспект 77к1
                .video__item-video(data-embed="G1DsbIwXOb0")
                button.video__button
                    img(src="img/video/play.svg", alt="")
            .video__item.video-container
                img.video__item-img(src="img/video/small.jpg", alt="")
                .video__item-wrap 
                    .video__item-info 
                        .video__item-name Монтаж водоснабжения
                        .video__item-text г. Москва, Ленинский проспект 77к1
                .video__item-video(data-embed="G1DsbIwXOb0")
                button.video__button
                    img(src="img/video/play.svg", alt="")
            .video__item.video-container
                img.video__item-img(src="img/video/small2.jpg", alt="")
                .video__item-wrap 
                    .video__item-info 
                        .video__item-name Монтаж водоснабжения
                        .video__item-text г. Москва, Ленинский проспект 77к1
                .video__item-video(data-embed="G1DsbIwXOb0")
                button.video__button
                    img(src="img/video/play.svg", alt="")
            .video__item.video-container
                img.video__item-img(src="img/video/small3.jpg", alt="")
                .video__item-wrap 
                    .video__item-info 
                        .video__item-name Монтаж водоснабжения
                        .video__item-text г. Москва, Ленинский проспект 77к1
                .video__item-video(data-embed="G1DsbIwXOb0") 
                button.video__button
                    img(src="img/video/play.svg", alt="")
            .video__item.video-container
                img.video__item-img(src="img/video/small4.jpg", alt="")
                .video__item-wrap 
                    .video__item-info
                        .video__item-name Монтаж водоснабжения
                        .video__item-text г. Москва, Ленинский проспект 77к1
                .video__item-video(data-embed="G1DsbIwXOb0")
                button.video__button
                    img(src="img/video/play.svg", alt="")
        button.video-slider__next
            img(src="img/hero/slider-arrow.svg", alt="")