.container 
    .works__inner 
        h1.works__title.title Наши работы
        .works__wrap 
            .works__item 
                a.works__item-link(href="img/works/1.jpg", data-fancybox="gallery") 
                    img.works__item-img(src="img/works/1.jpg", alt="")
                .works__item-info 
                    .works__item-info__wrap 
                        .works__item-title Монтаж водоснабжения
                        .works__item-adress г. Москва, Ленинский проспект 77к1 
            .works__item 
                a.works__item-link(href="img/works/1.jpg", data-fancybox="gallery") 
                    img.works__item-img(src="img/works/1.jpg", alt="")
                .works__item-info 
                    .works__item-info__wrap 
                        .works__item-title Монтаж водоснабжения
                        .works__item-adress г. Москва, Ленинский проспект 77к1 
            .works__item 
                a.works__item-link(href="img/works/1.jpg", data-fancybox="gallery") 
                    img.works__item-img(src="img/works/1.jpg", alt="")
                .works__item-info 
                    .works__item-info__wrap 
                        .works__item-title Монтаж водоснабжения
                        .works__item-adress г. Москва, Ленинский проспект 77к1 
            .works__item 
                a.works__item-link(href="img/works/1.jpg", data-fancybox="gallery") 
                    img.works__item-img(src="img/works/1.jpg", alt="")
                .works__item-info 
                    .works__item-info__wrap 
                        .works__item-title Монтаж водоснабжения
                        .works__item-adress г. Москва, Ленинский проспект 77к1 
            .works__item 
                a.works__item-link(href="img/works/1.jpg", data-fancybox="gallery") 
                    img.works__item-img(src="img/works/1.jpg", alt="")
                .works__item-info 
                    .works__item-info__wrap 
                        .works__item-title Монтаж водоснабжения
                        .works__item-adress г. Москва, Ленинский проспект 77к1 
            .works__item 
                a.works__item-link(href="img/works/1.jpg", data-fancybox="gallery") 
                    img.works__item-img(src="img/works/1.jpg", alt="")
                .works__item-info 
                    .works__item-info__wrap 
                        .works__item-title Монтаж водоснабжения
                        .works__item-adress г. Москва, Ленинский проспект 77к1 
            